.bodyWrapper {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 20px;
    margin: 12px;
    background-color: #f5f5f5;
    justify-content: center;
    align-items: center;
}

.formWrapper {
    display: flex;
    width: 700px;
    height: auto;
    padding: 15px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}